body,
html {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: hidden;
}

#boxBackground {
    position: absolute;
    filter: opacity(90%)
}

#BoxTitle {
    position: absolute;
    top: 60px;
    color: black;
    left: 150px
}

#background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    color: black;
}

#box {
    width: 85%;
    height: 600px;
    top: 7%;
    left: 9%;
    color: grey;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    position: absolute;
}

.responsive {
    max-width: 100%;
    height: auto;
    filter: grayscale(70%);
    position: relative;
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
    filter: grayscale(50%)
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(75, 71, 71);
    color: rgb(38, 190, 48);
    text-align: center;
    filter: grayscale(90%)
}

;